<MudNavMenu Class="text-white">
        <MudNavLink Href="/rack/habitaciones">Rack de Habitaciones</MudNavLink>
		@*<span class="menu-heading fw-bold text-uppercase">Empresas</span>*@
		<MudNavGroup Title="Empresas" Expanded="false">
            <MudNavLink Href="/maestros/empresas/sede">Sede</MudNavLink>
            <MudNavLink Href="/maestros/empresas/pos">POS</MudNavLink>
            <MudNavLink Href="/maestros/empresas/colaborador">Colaborador</MudNavLink>
            <MudNavLink Href="/maestros/empresas/area">Area</MudNavLink>
            <MudNavLink Href="/maestros/empresas/cargo">Cargo</MudNavLink>
        </MudNavGroup>
		@*<span class="menu-heading fw-bold text-uppercase">Huéspedes</span>*@
		<MudNavGroup Title="Huéspedes" Expanded="false">
            <MudNavLink Href="/maestros/huespedes/huesped">Huésped</MudNavLink>
        </MudNavGroup>
		@*<span class="menu-heading fw-bold text-uppercase">Habitaciones</span>*@
		<MudNavGroup Title="Habitaciones" Expanded="false">
            <MudNavLink Href="/maestros/habitaciones/tipo-habitacion">Tipo Habitación</MudNavLink>
            <MudNavLink Href="/maestros/habitaciones/estado-habitacion">Estado Habitación</MudNavLink>
            <MudNavLink Href="/maestros/habitaciones/habitacion">Habitación</MudNavLink>
        </MudNavGroup>
		@*<span class="menu-heading fw-bold text-uppercase">Generales</span>*@
		<MudNavGroup Title="Generales" Expanded="false">
            <MudNavLink Href="/maestros/generales/tipo-de-documento">Tipo Documento</MudNavLink>
            <MudNavLink Href="/maestros/generales/ubigeo">Ubigeo</MudNavLink>
            <MudNavLink Href="/maestros/generales/estado">Estado</MudNavLink>
            <MudNavLink Href="/maestros/empresas/cliente">Cliente</MudNavLink>
        </MudNavGroup>
		@*<span class="menu-heading fw-bold text-uppercase">Seguridad</span>*@
		<MudNavGroup Title="Seguridad" Expanded="false">
            <MudNavLink Href="/maestros/generales/tipo-de-documento">Tipo Documento</MudNavLink>
            <MudNavLink Href="/maestros/generales/ubigeo">Ubigeo</MudNavLink>
            <MudNavLink Href="/maestros/generales/estado">Estado</MudNavLink>
            <MudNavLink Href="/maestros/empresas/cliente">Cliente</MudNavLink>
        </MudNavGroup>
		
    <a class="menu-item" href="/rack/habitaciones">
												<span class="menu-link">
													<span class="menu-title">Rack de Habitaciones</span>
												</span>
											</a>
										<span class="menu-heading fw-bold text-uppercase">Empresas</span>
											
											<span class="menu-heading fw-bold text-uppercase">Huéspedes</span>
											<a class="menu-item" href="/maestros/huespedes/huesped">
												<span class="menu-link">
													<span class="menu-title">Huésped</span>
												</span>
											</a>
											<span class="menu-heading fw-bold text-uppercase">Habitaciones</span>
											<a class="menu-item" href="/maestros/habitaciones/tipo-de-habitacion">
												<span class="menu-link">
													<span class="menu-title">Tipo Habitación</span>
												</span>
											</a>
											<a class="menu-item" href="/maestros/habitaciones/estado-habitacion">
												<span class="menu-link">
													<span class="menu-title">Estado Habitación</span>
												</span>
											</a>
											<a class="menu-item" href="/maestros/habitaciones/habitacion">
												<span class="menu-link">
													<span class="menu-title">Habitación</span>
												</span>
											</a>
											<span class="menu-heading fw-bold text-uppercase">Generales</span>
											<a class="menu-item" href="/maestros/generales/tipo-de-documento">
												<span class="menu-link">
													<span class="menu-title">Tipo Documento</span>
												</span>
											</a>
											<a class="menu-item" href="/maestros/generales/ubigeo">
												<span class="menu-link">
													<span class="menu-title">Ubigeo</span>
												</span>
											</a>
											<a class="menu-item" href="/maestros/generales/estado">
												<span class="menu-link">
													<span class="menu-title">Estado</span>
												</span>
											</a>
											<a class="menu-item" href="/maestros/empresas/cliente">
												<span class="menu-link">
													<span class="menu-title">Cliente</span>
												</span>
											</a>
											<span class="menu-heading fw-bold text-uppercase">Seguridad</span>
											<a class="menu-item" href="/maestros/seguridad/usuario">
												<span class="menu-link">
													<span class="menu-title">Cuenta Usuario</span>
												</span>
											</a>
											<a class="menu-item" href="/maestros/seguridad/permiso">
												<span class="menu-link">
													<span class="menu-title">Permiso</span>
												</span>
											</a>
											<a class="menu-item" href="/maestros/seguridad/rol">
												<span class="menu-link">
													<span class="menu-title">Perfil</span>
												</span>
											</a>
											<a class="menu-item" href="/maestros/seguridad/modulo">
												<span class="menu-link">
													<span class="menu-title">Módulo</span>
												</span>
											</a>
											<a class="menu-item" href="/maestros/seguridad/submodulo">
												<span class="menu-link">
													<span class="menu-title">SubMódulo</span>
												</span>
											</a>

        <MudNavLink Href="/dashboard">Dashboard</MudNavLink>
        <MudNavLink Href="/servers">Servers</MudNavLink>
        <MudNavLink Href="/billing">Billing</MudNavLink>
        <MudNavGroup Title="Settings" Expanded="true">
            <MudNavLink Href="/users">Users</MudNavLink>
            <MudNavLink Href="/security">Security</MudNavLink>
        </MudNavGroup>
        <MudNavLink Href="/about">About</MudNavLink>
</MudNavMenu>