<MudNavMenu Class="text-white">
        <MudNavLink Href="/rack">Rack de Habitaciones</MudNavLink>
		@*<span class="menu-heading fw-bold text-uppercase">Empresas</span>*@
		<MudNavGroup Title="Empresas" Expanded="false">
            <MudNavLink Href="/maestros/empresas/sede">Sede</MudNavLink>
            <MudNavLink Href="/maestros/empresas/pos">POS</MudNavLink>
            <MudNavLink Href="/maestros/empresas/colaborador">Colaborador</MudNavLink>
            <MudNavLink Href="/maestros/empresas/area">Area</MudNavLink>
            <MudNavLink Href="/maestros/empresas/cargo">Cargo</MudNavLink>
        </MudNavGroup>
		@*<span class="menu-heading fw-bold text-uppercase">Huéspedes</span>*@
		<MudNavGroup Title="Huéspedes" Expanded="false">
            <MudNavLink Href="/maestros/huespedes/huesped">Huésped</MudNavLink>
        </MudNavGroup>
		@*<span class="menu-heading fw-bold text-uppercase">Habitaciones</span>*@
		<MudNavGroup Title="Habitaciones" Expanded="false">
            <MudNavLink Href="/maestros/habitaciones/tipo-habitacion">Tipo Habitación</MudNavLink>
            <MudNavLink Href="/maestros/habitaciones/estado-habitacion">Estado Habitación</MudNavLink>
            <MudNavLink Href="/maestros/habitaciones/habitacion">Habitación</MudNavLink>
        </MudNavGroup>
		@*<span class="menu-heading fw-bold text-uppercase">Generales</span>*@
		<MudNavGroup Title="Generales" Expanded="false">
            <MudNavLink Href="/maestros/generales/tipo-de-documento">Tipo Documento</MudNavLink>
            <MudNavLink Href="/maestros/generales/ubigeo">Ubigeo</MudNavLink>
            <MudNavLink Href="/maestros/generales/estado">Estado</MudNavLink>
            <MudNavLink Href="/maestros/empresas/cliente">Cliente</MudNavLink>
        </MudNavGroup>
		@*<span class="menu-heading fw-bold text-uppercase">Seguridad</span>*@
		<MudNavGroup Title="Seguridad" Expanded="false">
            <MudNavLink Href="/maestros/seguridad/usuario">Cuenta Usuario</MudNavLink>
            <MudNavLink Href="/maestros/seguridad/permiso">Permiso</MudNavLink>
            <MudNavLink Href="/maestros/seguridad/rol">Perfil</MudNavLink>
            <MudNavLink Href="/maestros/seguridad/modulo">Módulo</MudNavLink>
            <MudNavLink Href="/maestros/seguridad/submodulo">SubMódulo</MudNavLink>
        </MudNavGroup>
</MudNavMenu>