@page "/maestros/habitaciones/estado-habitacion"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Tipo de Habitación</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>

	<hr/>
	<div class="col-md-12">
		<div class="table-responsive">
        @if(ItemsList == null)
		{
			<p><em>Cargando...</em></p>
		}
		else
		{
			<table class="table table-bordered table-striped">
				<thead>
					<tr class="fw-bold">
						<th>Nombre</th>

					</tr>
				</thead>
				<tbody>
					@foreach(var item in ItemsList)
					{
						<tr>
							<td>@item.Description</td>
							<td>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, item)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(item)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="RoomStatus" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <ERP.XCore.Hotel.Web.Client.Pages.Management.Rooms.RoomStatus.Fields @ref="Fields" RoomStatus="RoomStatus"/>
</ModalForm>

@code {
	private RoomStatus RoomStatus = new RoomStatus();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private RoomStatus[]? ItemsList;

	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<RoomStatus[]>(RouteConfig.Management.Rooms.ROOMSTATUS_ROUTE);
	}


	public async Task ShowModalAsync(ModalType modalType, RoomStatus rt = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nuevo" : "Editar")} Tipo de cuarto";
		RoomStatus = rt ?? new RoomStatus();
		await Modal.OpenAsync();
	}

	public async Task SaveAsync()
	{
		try
		{
			if(RoomStatus.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(RouteConfig.Management.Rooms.ROOMSTATUS_ROUTE, RoomStatus);
			}
			else
			{
				await Http.PutAsJsonAsync(RouteConfig.Management.Rooms.ROOMSTATUS_ROUTE + "/" + RoomStatus.Id, RoomStatus);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(RoomStatus rt)
	{
		await Http.DeleteAsync(RouteConfig.Management.Rooms.ROOMSTATUS_ROUTE+ "/" + rt.Id);
		await Load();
    }
}
