@page "/maestros/habitaciones/tipo-de-habitacion"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Tipo de Habitación</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>

	<hr/>
	<div class="col-md-12">
		<div class="table-responsive">
			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<RoomType, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
				
						<MudTh>Nombre</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
				
							<MudTd>@context.Description</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>
		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="RoomType" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <ERP.XCore.Hotel.Web.Client.Pages.Management.Rooms.RoomType.Fields @ref="Fields" RoomType="RoomType"/>
</ModalForm>

@code {
	private RoomType RoomType = new RoomType();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private string searchString1 = "";
	private RoomType[]? ItemsList;

	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
			
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<RoomType[]>(RouteConfig.Management.Rooms.ROOMTYPE_ROUTE);
	}


	public async Task ShowModalAsync(ModalType modalType, RoomType rt = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nuevo" : "Editar")} Tipo de cuarto";
		RoomType = rt ?? new RoomType();
		await Modal.OpenAsync();
	}

	private bool FilterFunc1(RoomType room) => FilterFunc(room, searchString1);

	private bool FilterFunc(RoomType room, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (room.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		
		return false;
	}

	public async Task SaveAsync()
	{
		try
		{
			if(RoomType.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(RouteConfig.Management.Rooms.ROOMTYPE_ROUTE, RoomType);
			}
			else
			{
				await Http.PutAsJsonAsync(RouteConfig.Management.Rooms.ROOMTYPE_ROUTE + "/" + RoomType.Id, RoomType);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(RoomType rt)
	{
		await Http.DeleteAsync(RouteConfig.Management.Rooms.ROOMTYPE_ROUTE+ "/" + rt.Id);
		await Load();
    }
}
