<!--begin::Scrolltop-->
<div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">@((MarkupString)KTTheme.getSvgIcon("assets/media/icons/duotune/arrows/arr066.svg", "svg-icon"))</div>
<!--end::Scrolltop-->