@using ERP.XCore.Entities.Models

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="description">Descripción</label>
            <InputText @bind-Value="PermissionLevel.Description" id="description" class="form-control" placeholder="Descripción" />
            <ValidationMessage For="() => PermissionLevel.Description" />
        </div>
    </div>
</div>

      
@code {
    [Parameter]
    public PermissionLevel PermissionLevel { get; set; }
}