@page "/maestros/seguridad/niveles-de-permiso"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Tipo de Documento</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<div class="col-md-12">
		<div class="table-responsive">

			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<PermissionLevel, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
				
						<MudTh>Descripción</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
				
							<MudTd>@context.Description</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>

		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="PermissionLevel" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <ERP.XCore.Hotel.Web.Client.Pages.Management.Security.PermissionLevel.Fields @ref="Fields" PermissionLevel="PermissionLevel" />
</ModalForm>

@code {
	private PermissionLevel PermissionLevel = new PermissionLevel();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private PermissionLevel[]? ItemsList;
	private string searchString1 = "";
	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<PermissionLevel[]>(ApiRouteConfig.Management.Security.PERMISSIONLEVEL_ROUTE);
	}

	public async Task ShowModalAsync(ModalType modalType, PermissionLevel pl = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nuevo" : "Editar")} Nivel de Permiso";
		PermissionLevel = pl ?? new PermissionLevel();
		await Modal.OpenAsync();
	}
		
	private bool FilterFunc1(PermissionLevel per) => FilterFunc(per, searchString1);

	private bool FilterFunc(PermissionLevel per, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (per.Description.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		
		return false;
	}

	public async Task SaveAsync()
	{
		try
		{
			if(PermissionLevel.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(ApiRouteConfig.Management.Security.PERMISSIONLEVEL_ROUTE, PermissionLevel);
			}
			else
			{
				await Http.PutAsJsonAsync(ApiRouteConfig.Management.Security.PERMISSIONLEVEL_ROUTE + "/" + PermissionLevel.Id, PermissionLevel);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(PermissionLevel pl)
	{
		await Http.DeleteAsync(ApiRouteConfig.Management.Security.PERMISSIONLEVEL_ROUTE + "/" + pl.Id);
		await Load();
    }
}
