@page "/"

<PageTitle>Index</PageTitle>

@*
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />*@

<!--begin::Container-->
					<div id="kt_content_container" class="container-xxl">
						Bienvenido
					</div>
					<!--end::Container-->