@page "/maestros/seguridad/rol"
@using ERP.XCore.Entities.Models
@using ERP.XCore.Hotel.Shared.Helpers
@using ERP.XCore.Hotel.Shared.Resources.Base
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject HttpClient Http

<div class="row px-5">
	<div class="d-flex justify-content-between">
		<h3>Perfil</h3>
		<button class="btn btn-primary" @onclick="() => ShowModalAsync(ModalType.New)">
			<i class="fa fa-add"></i>
			<span>Agregar</span>
		</button>
	</div>
	<hr/>
	<div class="col-md-12">
		<div class="table-responsive">

			<MudTable Items="@ItemsList" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false" LoadingProgressColor="Color.Info" Filter="new Func<ApplicationRole, bool>(FilterFunc1)">
				<ToolBarContent>
					<MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
				</ToolBarContent>
				<HeaderContent>
				
						<MudTh>Descripción</MudTh>
						<MudTh>Acciones</MudTh>
			</HeaderContent>
			<RowTemplate>
				
							<MudTd>@context.Name</MudTd>
							<MudTd>
								<button class="btn btn-info" @onclick="() => ShowModalAsync(ModalType.Edit, context)">
									<i class="fa fa-edit"></i>
									<span>Editar</span>
								</button>
								<button class="btn btn-danger" @onclick="() => DeleteAsync(context)">
									<i class="fa fa-trash"></i>
									<span>Eliminar</span>
								</button>
							</MudTd>
			</RowTemplate>
		</MudTable>


		</div>
	</div>
</div>

<ModalForm @ref="Modal" Title="@ModalTitle" Model="ApplicationRole" ValidSubmitCallback="SaveAsync" InvalidSubmitCallback="ShowError">
    <Fields @ref="Fields" ApplicationRole="ApplicationRole" />
</ModalForm>

@code {
	private ApplicationRole ApplicationRole = new ApplicationRole();
	private ModalForm Modal;
	private Fields Fields;
	private string ModalTitle;
	private ApplicationRole[]? ItemsList;
	private SelectResource<Guid>[]? Employees;
	private SelectResource<Guid>[]? Status;
	private string searchString1 = "";
	public enum ModalType
	{
		New, Edit
	};

	protected override async Task OnInitializedAsync()
	{
		try
		{
			await Load();
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}

	public async Task Load()
	{
		ItemsList = await Http.GetFromJsonAsync<ApplicationRole[]>(RouteConfig.Management.Security.ROLE_ROUTE);
	}

	public async Task ShowModalAsync(ModalType modalType, ApplicationRole applicationRole = null)
	{
		ModalTitle = $"{(modalType == ModalType.New ? "Nuevo" : "Editar")} Perfil";
		ApplicationRole = applicationRole ?? new ApplicationRole();
		await Modal.OpenAsync();
	}

	private bool FilterFunc1(ApplicationRole role) => FilterFunc(role, searchString1);

	private bool FilterFunc(ApplicationRole role, string searchString)
	{
		if (string.IsNullOrWhiteSpace(searchString))
			return true;
		if (role.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
			return true;
		
		return false;
	}

	public async Task SaveAsync()
	{
		try
		{
			if(ApplicationRole.Id == Guid.Empty)
			{
				await Http.PostAsJsonAsync(RouteConfig.Management.Security.ROLE_ROUTE, ApplicationRole);
			}
			else
			{
				await Http.PutAsJsonAsync(RouteConfig.Management.Security.ROLE_ROUTE + "/" + ApplicationRole.Id, ApplicationRole);
			}
			await Load();
			await Modal.CloseAsync();
		}
		catch(Exception ex)
		{

		}
	}

	public void ShowError()
	{
	}

	public async Task DeleteAsync(ApplicationRole applicationRole)
	{
		await Http.DeleteAsync(RouteConfig.Management.Security.ROLE_ROUTE + "/" + applicationRole.Id);
		await Load();
    }
}
