@page "/dashboards/default"

@page "/example-1"
@page "/example-2"
@page "/example-3"
@page "/example-4"
@page "/example-5"
@page "/example-6"
@page "/example-7"
@page "/example-8"
 
@using ERP.XCore.Hotel.Web.Client.Shared.Partials.Widgets.Cards;
@using ERP.XCore.Hotel.Web.Client.Shared.Partials.Widgets.Charts;
@using ERP.XCore.Hotel.Web.Client.Shared.Partials.Widgets.Engage;
@using ERP.XCore.Hotel.Web.Client.Shared.Partials.Widgets.Lists;
@using ERP.XCore.Hotel.Web.Client.Shared.Partials.Widgets.Tables;

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
		<_Widget20></_Widget20>
		<_Widget7></_Widget7>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
		<_Widget17></_Widget17>
		<_Widget26></_Widget26>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xxl-6">
		<_Widget10></_Widget10>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
	<!--begin::Col-->
	<div class="col-xxl-6 mb-5 mb-xl-10">
		<_Widget8></_Widget8>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xl-6 mb-5 mb-xl-10">
		<_Widget16></_Widget16>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-xxl-6">
		<_Widget18></_Widget18>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xl-6">
		<_Widget36></_Widget36>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
	<!--begin::Col-->
	<div class="col-xl-4">
		<_Widget35></_Widget35>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xl-8">
		<_Widget14></_Widget14>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
	<!--begin::Col-->
	<div class="col-xl-4">
		<_Widget31></_Widget31>
	</div>
	<!--end::Col-->
	<!--begin::Col-->
	<div class="col-xl-8">
		<_Widget24></_Widget24>
	</div>
	<!--end::Col-->
</div>
<!--end::Row-->

